#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  border-top: red solid 100px;
  border-bottom: red solid 100px;
  background-color: darkcyan;
  padding: 2em;
}